Repository StarbirdTech/AI-Blueprints, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, ci/cd, dependencies, design, documentation, duplicate, enhancement, feature, invalid, javascript, performance, python, refactor, test

.github/labeler.yml:

# .github/labeler.yml

# Map all existing folders to current repo labels only

bug:
  - '*/**/bugfix*'

ci/cd:
  - '.github/workflows/**'

dependencies:
  - '**/requirements.txt'
  - '**/environment.yml'
  - '**/package-lock.json'
  - '**/Pipfile.lock'

design:
  - 'demo/**'
  - '**/*.html'
  - '**/*.css'

documentation:
  - 'docs/**'
  - '**/*.md'
  - '**/*.pdf'
  - '**/*.png'
  - '**/*.jpg'

duplicate:
  - '**/*duplicate*'

enhancement:
  - 'data-science/**'
  - 'deep-learning/**'
  - 'generative-ai/**'
  - 'ngc-integration/**'

feature:
  - '**/feature/**'
  - '**/new/**'
  - 'notebooks/**'

invalid:
  - '**/broken*'
  - '**/deprecated*'

javascript:
  - '**/*.js'

performance:
  - '**/performance*/**'
  - '**/*optimized*/**'

python:
  - '**/*.py'
  - '**/*.ipynb'

refactor:
  - '**/refactor*/**'

test:
  - '**/test*/**'
  - '**/tests/**'
  - '**/unittest/**'

Restarted Kernels and ran all cells, deleted all empty cells
  data-science/classification-with-svm/notebooks/iris_flowers_classification_with_svm.ipynb
  data-science/classification-with-svm/notebooks/register-model.ipynb
  data-science/classification-with-svm/notebooks/run-workflow.ipynb
Labels: enhancement, python

Removed the initial notebook
  data-science/classification-with-svm/notebooks/iris_flowers_classification_with_svm.ipynb
Labels: enhancement, python

Making sure the cells are running from label 1
  data-science/classification-with-svm/notebooks/anaconda_projects/db/project_filebrowser.db
  data-science/classification-with-svm/notebooks/register-model.ipynb
  data-science/classification-with-svm/notebooks/run-workflow.ipynb
Labels: enhancement, python

feat(vanilla-rag): #1488287 remove galileo dependencies and integrations
  generative-ai/vanilla-rag-with-langchain/README.md
  generative-ai/vanilla-rag-with-langchain/configs/config.yaml
  generative-ai/vanilla-rag-with-langchain/core/chatbot_service/chatbot_service.py
  generative-ai/vanilla-rag-with-langchain/notebooks/register-model.ipynb
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/vanilla-rag-with-langchain/src/service/base_service.py
  generative-ai/vanilla-rag-with-langchain/src/utils.py
Labels: documentation, enhancement, python

local llm as a judge, add requirements
  generative-ai/multi-modal-rag-with-langchain/notebooks/multimodal-rag-with-langchain-mlflow.ipynb
  generative-ai/multi-modal-rag-with-langchain/requirements.txt
  generative-ai/multi-modal-rag-with-langchain/src/local_genai_judge.py
  generative-ai/multi-modal-rag-with-langchain/src/utils.py
Labels: dependencies, enhancement, python

fix(notebooks): complete Galileo removal from run-workflow.ipynb
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

fix: remove duplicate imports and fix function calls in notebooks
  generative-ai/vanilla-rag-with-langchain/notebooks/register-model.ipynb
Labels: enhancement, python

fix: remove Galileo dependencies and clean up notebook execution flow in register-model.ipynb and run-workflow.ipynb
  generative-ai/vanilla-rag-with-langchain/notebooks/register-model.ipynb
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

fix: add mcp.json to .gitignore
  .gitignore
Labels: none

feat(config): #1489551 remove galileo_url from configuration
  generative-ai/code-generation-with-langchain/configs/config.yaml
Labels: enhancement

feat(utils): #1489551 remove galileo integration functions
  generative-ai/code-generation-with-langchain/src/utils.py
Labels: enhancement, python

feat(service): #1489551 remove galileo integration from base service
  generative-ai/code-generation-with-langchain/src/service/base_service.py
Labels: enhancement, python

docs(readme): #1489551 remove galileo references from documentation
  generative-ai/code-generation-with-langchain/README.md
Labels: documentation, enhancement

feat(notebooks): #1489551 final notebook cleanup needed
  generative-ai/code-generation-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

Delete data-science/classification-with-svm/notebooks/anaconda_projects/db/project_filebrowser.db
  data-science/classification-with-svm/notebooks/anaconda_projects/db/project_filebrowser.db
Labels: enhancement

docs: Complete notebook cleanup - remove all remaining Galileo references
  generative-ai/code-generation-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

feat: Complete final cleanup of remaining Galileo references
  generative-ai/code-generation-with-langchain/notebooks/core/code_generation_service.py
  generative-ai/code-generation-with-langchain/notebooks/register-model.ipynb
Labels: enhancement, python

refactor(utils): #1489552 remove Galileo utility functions
  generative-ai/text-generation-with-langchain/configs/config.yaml
  generative-ai/text-generation-with-langchain/src/utils.py
Labels: enhancement, python

refactor(service): #1489552 remove Galileo integration from base service
  generative-ai/text-generation-with-langchain/src/service/base_service.py
Labels: enhancement, python

refactor(deploy): #1489552 remove Galileo integration from text generation service
  generative-ai/text-generation-with-langchain/core/deploy/text_generation_service.py
Labels: enhancement, python

refactor(generator): #1489552 remove Galileo integration from script generator
  generative-ai/text-generation-with-langchain/core/generator/script_generator.py
Labels: enhancement, python

feat: complete Galileo dependency removal
  generative-ai/text-generation-with-langchain/README.md
  generative-ai/text-generation-with-langchain/core/deploy/text_generation_service.py
  generative-ai/text-generation-with-langchain/core/generator/script_generator.py
  generative-ai/text-generation-with-langchain/notebooks/text-generation-with-langchain.ipynb
  generative-ai/text-generation-with-langchain/src/service/base_service.py
  generative-ai/text-generation-with-langchain/src/utils.py
Labels: documentation, enhancement, python

Split the notebook into run-flow and register-model notebooks, also saved the training metrics to a json file to avoid retraining model in the register-model notebook
  data-science/data-analysis-with-var/README.md
  data-science/data-analysis-with-var/docs/swagger_UI_data_analysis_with_var.pdf
  data-science/data-analysis-with-var/docs/swagger_UI_data_analysis_with_var.png
  data-science/data-analysis-with-var/notebooks/register-model.ipynb
Labels: documentation, enhancement, python

use already built llm, extract score in case of unstructured output, clean up imports
  generative-ai/multi-modal-rag-with-langchain/notebooks/multimodal-rag-with-langchain-mlflow.ipynb
  generative-ai/multi-modal-rag-with-langchain/src/local_genai_judge.py
  generative-ai/multi-modal-rag-with-langchain/src/utils.py
Labels: enhancement, python

feat(notebooks): #1489550 remove Galileo imports from register-model notebook
  generative-ai/text-summarization-with-langchain/notebooks/register-model.ipynb
Labels: enhancement, python

feat(utils): #1489550 remove Galileo utility functions from src/utils.py
  generative-ai/text-summarization-with-langchain/src/utils.py
Labels: enhancement, python

feat(config): #1489550 remove Galileo URL from config.yaml
  generative-ai/text-summarization-with-langchain/configs/config.yaml
Labels: enhancement

docs(readme): #1489550 remove Galileo references from README.md
  generative-ai/text-summarization-with-langchain/README.md
Labels: documentation, enhancement

feat(service): #1489550 remove Galileo dependencies from text summarization service
  generative-ai/text-summarization-with-langchain/core/service/text_summarization_service.py
Labels: enhancement, python

feat(base-service): #1489550 remove Galileo dependencies from base service
  generative-ai/text-summarization-with-langchain/src/service/base_service.py
Labels: enhancement, python

feat(cleanup): #1489550 remove remaining Galileo references from docstrings and notebooks
  generative-ai/text-summarization-with-langchain/notebooks/run-workflow.ipynb
  generative-ai/text-summarization-with-langchain/src/utils.py
Labels: enhancement, python

feat(config): #1489554 remove Galileo configuration and utility functions
  generative-ai/image-generation-with-stablediffusion/configs/config.yaml
  generative-ai/image-generation-with-stablediffusion/src/utils.py
Labels: enhancement, python

Deleted old ntebook and updated README file for to advise users to run the run-worklow notebook first before the register-model notebook
  data-science/data-analysis-with-var/README.md
Labels: documentation, enhancement

feat(service): #1489554 remove Galileo service integrations and update notebook
  generative-ai/image-generation-with-stablediffusion/README.md
  generative-ai/image-generation-with-stablediffusion/notebooks/image-generation_with_StableDiffusion.ipynb
  generative-ai/image-generation-with-stablediffusion/src/service/base_service.py
Labels: documentation, enhancement, python

feat(metrics): #1489554 replace promptquality dependency with standalone metrics
  generative-ai/image-generation-with-stablediffusion/core/custom_metrics/image_metrics_scorers.py
Labels: enhancement, python

fix(notebook): update secrets.yaml description to remove reference to Galileo
  generative-ai/image-generation-with-stablediffusion/notebooks/image-generation_with_StableDiffusion.ipynb
Labels: enhancement, python

fix(notebook): update kernel configuration and error handling for Python environment
  generative-ai/image-generation-with-stablediffusion/notebooks/image-generation_with_StableDiffusion.ipynb
Labels: enhancement, python

Updated the Swagger UI docs
  data-science/data-analysis-with-var/docs/swagger_UI_data_analysis_with_var.pdf
  data-science/data-analysis-with-var/docs/swagger_UI_data_analysis_with_var.png
Labels: documentation, enhancement

feat: #1489555 Remove Galileo dependencies from fine-tuning-with-orpo blueprint
  generative-ai/fine-tuning-with-orpo/README.md
  generative-ai/fine-tuning-with-orpo/configs/config.yaml
  generative-ai/fine-tuning-with-orpo/core/comparer/model_comparer.py
  generative-ai/fine-tuning-with-orpo/src/utils.py
Labels: documentation, enhancement, python

Implement code changes to enhance functionality and improve performance
  generative-ai/fine-tuning-with-orpo/README.md
  generative-ai/fine-tuning-with-orpo/notebooks/fine_tuning_orpo.ipynb
  generative-ai/fine-tuning-with-orpo/src/service/base_service.py
  generative-ai/fine-tuning-with-orpo/src/utils.py
Labels: documentation, enhancement, python
