Repository StarbirdTech/AI-Blueprints, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, ci/cd, dependencies, design, documentation, duplicate, enhancement, feature, invalid, javascript, performance, python, refactor, test

.github/labeler.yml:

# .github/labeler.yml

# Map all existing folders to current repo labels only

bug:
  - '*/**/bugfix*'

ci/cd:
  - '.github/workflows/**'

dependencies:
  - '**/requirements.txt'
  - '**/environment.yml'
  - '**/package-lock.json'
  - '**/Pipfile.lock'

design:
  - 'demo/**'
  - '**/*.html'
  - '**/*.css'

documentation:
  - 'docs/**'
  - '**/*.md'
  - '**/*.pdf'
  - '**/*.png'
  - '**/*.jpg'

duplicate:
  - '**/*duplicate*'

enhancement:
  - 'data-science/**'
  - 'deep-learning/**'
  - 'generative-ai/**'
  - 'ngc-integration/**'

feature:
  - '**/feature/**'
  - '**/new/**'
  - 'notebooks/**'

invalid:
  - '**/broken*'
  - '**/deprecated*'

javascript:
  - '**/*.js'

performance:
  - '**/performance*/**'
  - '**/*optimized*/**'

python:
  - '**/*.py'
  - '**/*.ipynb'

refactor:
  - '**/refactor*/**'

test:
  - '**/test*/**'
  - '**/tests/**'
  - '**/unittest/**'

Remove galileo_hf_model_comparer.py as it's replaced by model_comparer.py
  generative-ai/fine-tuning-with-orpo/core/comparer/galileo_hf_model_comparer.py
Labels: enhancement, python

Update notebook kernelspec to remove Galileo references
  generative-ai/image-generation-with-stablediffusion/notebooks/image-generation_with_StableDiffusion.ipynb
Labels: enhancement, python

feat(notebook): remove Galileo references from run-workflow notebook and replace with standalone implementations
  generative-ai/text-summarization-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

fix: update title in index.html from "Galileo Demo" to "Demo"
  generative-ai/vanilla-rag-with-langchain/demo/assets/index-JB8oVtUU.js
  generative-ai/vanilla-rag-with-langchain/demo/index.html
Labels: design, enhancement, javascript

fix: update proxy configuration loading in run-workflow.ipynb and removed redundant import.
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

Enhance notebook readability with emoji updates in markdown cells
  generative-ai/code-generation-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

move mlflow vanilla into it's own folder
  .Trash-1000/files/local_judge.py
  .Trash-1000/info/local_judge.py.trashinfo
  .Trash-1000/info/multimodal-rag-with-langchain-mlflow.ipynb.trashinfo
  .Trash-1000/info/vanilla-rag-with-langchain.ipynb.trashinfo
  generative-ai/multi-modal-rag-with-langchain/notebooks/multimodal-rag-with-langchain-mlflow-Copy1.ipynb
  generative-ai/multi-modal-rag-with-langchain/notebooks/multimodal-rag-with-langchain-mlflow.ipynb
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/.gitignore
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/README.md
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/configs/config.yaml
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/core/chatbot_service/__init__.py
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/core/chatbot_service/chatbot_service.py
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/data/AIStudioDoc.pdf
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/data/wiki_flat_structure_mini.json
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/notebooks/vanilla-rag-with-langchain-mlflow.ipynb
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/requirements.txt
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/src/__init__.py
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/src/local_genai_judge.py
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/src/service/__init__.py
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/src/service/base_service.py
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/src/trt_llm_langchain.py
  generative-ai/other-genai-blueprints/vanilla-rag-with-langchain-mlflow/src/utils.py
Labels: dependencies, documentation, enhancement, python

feat: Remove galileo removal indication and removing galileo documentation on markdown cell
  generative-ai/text-generation-with-langchain/notebooks/text-generation-with-langchain.ipynb
Labels: enhancement, python

feat(text-generation): #1489552 remove Galileo dependencies from notebook
  generative-ai/text-generation-with-langchain/notebooks/text-generation-with-langchain.ipynb
Labels: enhancement, python

feat: #1489552 remove Galileo dependencies from text-generation-with-langchain notebook
  generative-ai/text-generation-with-langchain/notebooks/text-generation-with-langchain.ipynb
Labels: enhancement, python

fix: consolidate configuration and secrets loading into a single function
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

feat: Update model selection and analysis steps in presentation script generation
  generative-ai/text-generation-with-langchain/notebooks/text-generation-with-langchain.ipynb
Labels: enhancement, python

fix(notebook): correct execution count and format of input/output in evaluation test cases
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

Revert "fix(notebook): correct execution count and format of input/output in evaluation test cases"
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

fix(notebook): correct string formatting in print statement for local metrics evaluation
  generative-ai/text-summarization-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

feat(notebooks): #1489550 complete Galileo cleanup in run-workflow.ipynb
  generative-ai/text-summarization-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

feat(notebooks): #1489550 final Galileo cleanup verification
  generative-ai/text-summarization-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

fix(notebook): update section numbering and remove redundant local evaluation setup
  generative-ai/text-summarization-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

fix(notebook): remove failed kernel setup code and update kernelspec display name
  generative-ai/image-generation-with-stablediffusion/notebooks/image-generation_with_StableDiffusion.ipynb
Labels: enhancement, python

refactor: #1489554 simplify image_metrics_scorers by removing compatibility layers
  generative-ai/image-generation-with-stablediffusion/core/custom_metrics/image_metrics_scorers.py
Labels: enhancement, python

refactor: remove references to Galileo in ModelComparer and BaseGenerativeService
  generative-ai/fine-tuning-with-orpo/core/comparer/model_comparer.py
  generative-ai/fine-tuning-with-orpo/src/service/base_service.py
Labels: enhancement, python

feat: #1489555 revert notebook to original state for proper implementation
  generative-ai/fine-tuning-with-orpo/notebooks/fine_tuning_orpo.ipynb
Labels: enhancement, python

feat: #1489555 remove Galileo dependencies from notebook
  generative-ai/fine-tuning-with-orpo/notebooks/fine_tuning_orpo.ipynb
Labels: enhancement, python

refactor: update model evaluation section to remove Galileo references and enhance clarity
  generative-ai/fine-tuning-with-orpo/notebooks/fine_tuning_orpo.ipynb
Labels: enhancement, python

feat: integrate ModelComparer in notebook #1489555
  generative-ai/fine-tuning-with-orpo/notebooks/fine_tuning_orpo.ipynb
Labels: enhancement, python

refactor: enhance model comparison section for clarity and structure
  generative-ai/fine-tuning-with-orpo/notebooks/fine_tuning_orpo.ipynb
Labels: enhancement, python

feat: adding cell outputs for notebook
  generative-ai/vanilla-rag-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

feat: adding cell outputs for notebook
  generative-ai/vanilla-rag-with-langchain/notebooks/register-model.ipynb
Labels: enhancement, python

feat: adding cell outputs for run workflow notebook
  generative-ai/code-generation-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

feat: adding cell outputs to register model notebook
  generative-ai/code-generation-with-langchain/notebooks/register-model.ipynb
Labels: enhancement, python

feat: adding cell outputs for text generation
  generative-ai/text-generation-with-langchain/notebooks/text-generation-with-langchain.ipynb
Labels: enhancement, python

feat: adding cell outputs for workflow
  generative-ai/text-summarization-with-langchain/notebooks/run-workflow.ipynb
Labels: enhancement, python

feat: adding cell outputs for model registration
  generative-ai/text-summarization-with-langchain/notebooks/register-model.ipynb
Labels: enhancement, python

feat: adding updated cell outputs for notebook
  generative-ai/image-generation-with-stablediffusion/notebooks/image-generation_with_StableDiffusion.ipynb
Labels: enhancement, python

fix: update print statement to include rocket emoji for model comparison
  generative-ai/fine-tuning-with-orpo/notebooks/fine_tuning_orpo.ipynb
Labels: enhancement, python

fix: update input key for summarization chain from 'input' to 'context'
  generative-ai/text-summarization-with-langchain/core/service/text_summarization_service.py
Labels: enhancement, python

Fix Pydantic v2 compatibility for LlamaCpp model - Add model_rebuild() call to fix PydanticUserError during deployment
  generative-ai/vanilla-rag-with-langchain/core/chatbot_service/chatbot_service.py
  generative-ai/vanilla-rag-with-langchain/src/utils.py
Labels: enhancement, python

Fix Pydantic v2 compatibility for LlamaCpp model - Add model_rebuild() call to fix PydanticUserError during deployment
  generative-ai/text-summarization-with-langchain/core/service/text_summarization_service.py
  generative-ai/text-summarization-with-langchain/src/utils.py
Labels: enhancement, python

[refactor] Applying best practices guide
  deep-learning/classification-with-keras/notebooks/handwritten_digit_classification_with_keras.ipynb
Labels: enhancement, python

Fix Pydantic v2 compatibility for LlamaCpp model - Add model_rebuild() call to fix PydanticUserError during deployment
  generative-ai/code-generation-with-langchain/notebooks/core/code_generation_service.py
  generative-ai/code-generation-with-langchain/src/utils.py
Labels: enhancement, python
